<div class="search__container">
  <div class="input-search">
    <input
      type="text"
      class="subscribe__input input__login"
      placeholder=""
      aria-label="Example text with button addon"
      aria-describedby="button-addon1"
      [(ngModel)]="searchQuery"
    />
    <a
      class="search__button button"
      type="button"

      (click)="cercaImages()"
    >
      Search
    </a>
  </div>
</div>

<div class="images__container" *ngIf="imagesData">
  <app-news-details
    *ngFor="let one_image of imagesData.photos"
    [ImageParent]="one_image"
  ></app-news-details>
</div>
