<header class="header">
  <div class="header__container">
    <a routerLink="/" class="header__logo"
      ><img src="../../assets/img/logo.svg" alt="logo" />
    </a>
    <nav class="header__menu menu">
      <div class="menu__body">
        <ul class="menu__list">
          <li class="menu__item">
            <a routerLink="/" class="menu__link">Home</a>
          </li>
          <li class="menu__item">
            <a routerLink="/about" class="menu__link">About</a>
          </li>
          <li class="menu__item">
            <a routerLink="/news" class="menu__link"> News</a>
          </li>
          <li class="menu__item">
            <a routerLink="/services" class="menu__link">Services</a>
          </li>
        </ul>
      </div>
    </nav>
    <a routerLink="/cart" class="header__cart cart-header">
      <span class="cart-header__text">Cart</span>
      <span class="cart-header__quantity">0</span>
    </a>
    <a *ngIf="!checkUserStatus" routerLink="/start" class="header__button button">Get started</a>
    <a *ngIf="checkUserStatus" routerLink="/start" class="header__button button">Logout</a>
    <button class="icon-menu" type="button">
      <span></span>
    </button>
  </div>
</header>
