<div *ngIf="ImageParent">
  <div class="card text-white bg-dark mb-3" style="width: 15rem; height: 35rem">
    <img
      [src]="ImageParent.src.small"
      class="card-img-top"
      alt="coffeParent.alt"
      style="width: 15rem"
    />
    <div class="card-body">
      <h5 class="card-title">{{ ImageParent.photographer }}</h5>

      <a routerLink="/news/{{ ImageParent.id }}" class="btn btn-primary"
        >Details</a
      >
    </div>
  </div>
</div>

<!-- <a routerLink="/news/{{ ImageParent.id }}/" class="btn btn-primary">Details</a>-->
